* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 900px;
    margin: auto;
}

header {
    text-align: center;
    padding-top: 20px;
}

header h1 {
    font-size: 35px;
    font-family: Fredoka One;
    color: #E53170;
    margin-bottom: 30px;
}

main {
    width: 100%;
    height: 400px;
    padding-top: 30px;
}

.block {
    width: calc(100% / 3 - 20px);
    height: 90px;
    margin: 10px 10px 25px 10px;
    background-color: black;
    float: left;
}

img {
    height: 100%;
    float: left;
}

.text {
    color: white;
    height: 100%;
    float: left;
    padding: 15px 15px;
}

h3 {
    font-size: 14px;
    padding-bottom: 4px;
    font-family: Fredoka One;
}

.text div {
    font-size: 13px;
    padding: 2px 0px;
}

.text div:last-child {
    color: #3FA2CE;
}