* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 900px;
    margin: auto;
    /* background-color: green; */
}

header {
    text-align: center;
    padding-top: 20px;
}

header h1 {
    font-size: 35px;
    font-family: Dosis;
    color: #E53170;
    margin-bottom: 30px;
}